<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="PUCIT GPA/CGPA CALCULATOR" />
    <meta
      property="og:description"
      content="CALCULATOR TO CALCULATE BOTH GPA AND CGPA OF PUCIT"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>PUCIT GPA CALCULATOR</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >GPA CALCULATOR</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cgpa-calculator.html"
                  >CGPA CALCULATOR</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container-fluid my-5" id="main">
      <h2 class="text-center mb-5">PUCIT GPA CALCULATOR</h2>
      <div class="row justify-content-center">
        <div
          class="
            col-11 col-md-8 col-lg-5
            py-5
            px-3
            rounded
            shadow
            bg-dark
            text-white
          "
        >
          <div v-if="semesterDiv">
            <h5 class="text-center text-white mb-4">
              No. of Subjects (Including Labs)
            </h5>
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-11 col-sm-8">
                  <form @submit="GenerateTable">
                    <input
                      type="number"
                      class="form-control"
                      min="1"
                      v-model="noOfSemester"
                      required
                    />
                    <button class="btn btn-light mt-3 w-50 mx-auto d-block">
                      Continue
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div v-else-if="!semesterDiv && !resultDiv">
            <h4 class="text-center text-white mb-4">
              Enter Each Subjects Marks
            </h4>
            <form @submit="calculateGPA">
              <table class="table table-light w-100 rounded">
                <thead>
                  <tr>
                    <td>Marks Obtained</td>
                    <td>Credit Hrs.</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="row in gradePoints" :key="row.id">
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        v-model="row.marksObtained"
                        min="0"
                        max="100"
                        required
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        v-model="row.creditHours"
                        min="1"
                        max="3"
                        required
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-light w-100">Calculate</button>
            </form>
          </div>
          <div v-else>
            <h4 class="text-center text-white mb-4">Result</h4>
            <h5 class="text-center text-white mb-5">Your GPA is: {{ gpa }}</h5>
            <div class="d-flex justify-content-between">
              <button class="btn btn-warning" @click="goBack">Go Back</button>
              <button class="btn btn-light" @click="reload">Start Again</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script type="application/javascript" src="js/bootstrap.min.js"></script>
  <script type="application/javascript" src="js/vue.js"></script>
  <script type="application/javascript" src="js/script.js"></script>
  <script>
    const App = {
      data() {
        return {
          noOfSemester: null,
          semesterDiv: true,
          resultDiv: false,
          gradePoints: [],
          gpa: null,
        };
      },
      methods: {
        GenerateTable(e) {
          e.preventDefault();
          for (let i = 0; i < this.noOfSemester; i++) {
            this.gradePoints.push({
              id: `row${i}`,
              marksObtained: null,
              creditHours: null,
            });
          }
          this.semesterDiv = false;
        },
        calculateGPA(e) {
          e.preventDefault();
          let sum = 0.0;
          let creditHours = 0;
          this.gradePoints.forEach(gradePoint => {
            let gp = getGP(parseFloat(gradePoint.marksObtained));
            sum += gp * parseInt(gradePoint.creditHours);
            creditHours += parseInt(gradePoint.creditHours);
          });
          this.gpa = (sum / creditHours).toFixed(2);
          this.resultDiv = true;
        },
        goBack() {
          this.resultDiv = false;
        },
        reload() {
          window.location.reload();
        },
      },
    };
    Vue.createApp(App).mount('body');
  </script>
</html>
